# Normalize line endings
* text=auto eol=lf

# Unreal binary assets
*.uasset binary
*.umap binary
*.uexp binary
*.ubulk binary
*.uptnl binary

# Common binary formats
*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.dds binary
*.mp3 binary
*.wav binary
*.ogg binary
*.mp4 binary
*.mov binary
*.fbx binary
*.psk binary
*.psy binary